@model IEnumerable<AdminApplicationService.ViewModel.AddProductViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ImagePath
        </th>
        <th>
            Category
        </th>
        <th>
            ProductName
        </th>
        <th>
            ProductSpecification
        </th>
        <th>
            ProductDescription
        </th>       
        <th>
            Price
        </th>
        <th>
            GST
        </th>
        <th>
            TotalPrice
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <img src="@Url.Content(item.ImagePath)" alt="Image 1" ; style="max-width: 100px; max-height: 100px">
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductSpecification)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductDescription)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GST)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalPrice)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
